# Required Variables
BOT_TOKEN = ""
OWNER_ID = ""
TELEGRAM_API = ""
TELEGRAM_HASH = ""

# Optional Variables
GDRIVE_ID = ""
DOWNLOAD_DIR = "/usr/src/app/downloads"
STATUS_UPDATE_INTERVAL = "15"
AUTO_DELETE_MESSAGE_DURATION = "30"
DATABASE_URL = ""
AUTHORIZED_CHATS = ""
SUDO_USERS = ""
USE_SERVICE_ACCOUNTS = "False"
INDEX_URL = ""
STATUS_LIMIT = "5"
STOP_DUPLICATE = "True"
CMD_SUFFIX = ""
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
YT_DLP_OPTIONS = ""
USE_SERVICE_ACCOUNTS = ""

# JDownloader
JD_EMAIL = ""
JD_PASS = ""

# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""

# Leech
USER_SESSION_STRING = ""
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = "False"
EQUAL_SPLITS = "False"
MEDIA_GROUP = "False"
LEECH_FILENAME_PREFIX = ""
LEECH_FILENAME_SUFFIX = ""
LEECH_CAPTION_FONT = ""
DUMP_CHAT_ID = ""

# qBittorrent/Aria2c
BASE_URL = "http://localhost"
SERVER_PORT = "80"
WEB_PINCODE = "False"

# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = "0"
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py"]'